.form-card {
    background: #FFFFFF;
    box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    height: 77vh
}

.form-card input {
    background: #FAFAFA;
    border: 1px solid #D8D8D8;
    border-radius: 8px;
    font-size: 12.9px;
    height: 48px;
}

.form-card input:focus {
    outline: none;
    border: 1px solid #454545;

}

.form-card button {
    color: #666666;
    text-decoration: none;
    background: #25A0DA;
    border-radius: 8px;
    color: #FAFAFA;
    border: none;
    height: 48px;

}

.possword-field-div {
    position: relative;
}

.possword-field-div span {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 2%;
    font-size: 16px;
    color: #666666;



}